<!DOCTYPE html>
<html>
  <head>
     <title>Base Q&A</title>
     <style type="text/css">
       .posts {
         margin: 5%;
         background-color: #bbeebb;       
       }
       .post {
         margin: 2%;
         background-color: #bbffbb;      
       }
     </style>
  </head>
  <body>
    <div class="posts">
          <a href="/">Main</a> <a href="/popular/">Popular</a>
          <p>Page {{ page.number }}</p>
          {% for p in posts %}
          <div class="post">
            <p>{{ p.title }}</p>
            <p><a href="/question/{{ p.id }}">{{ p.id }}</a></p>
            <p>{{ p.author }}</p>
            <p>{{ p.added_at }}</p>
            <p>{{ p.rating }}</p>
            <p>{{ p.text }}</p>          
          </div>
          {% endfor %}
    </div>
    <br>
    <nav><ul>
		{% for p in paginator.page_range%}
		  <li>
		    <a href="{{ paginator.baseurl }}{{ p }}">{{ p }}</a>		  
		  </li>
		{% endfor%}
    </ul></nav>
  </body>
</html>